$headingColor: #570064fa;
$underDivColor: #3e0041f6;
$firstTextColor: #430156f6;
$h6Color: #a903a6be; 
$paragraphColor: white;
$starColor: rgba(255, 145, 0, 0.704);
$starDivColor: rgba(221, 221, 221, 0.315);
$paragraphFontFamily: 'Outfit', sans-serif;
$firstParagraphFontWeight: 200;
$headingFontWeight: 600;  

